
		<!DOCTYPE html>
		<html lang="en">
		<head>
		<meta charset="UTF-8">
		<title>Hello World!</title>
		</head>
		<body>
		
		<h1>my name ha</h1>
		<h2> write code here </h2>
		<ul>
		
    		<li>b</li>
    	
    		<li>[demo test]</li>
    	
    		<li>d</li>
    	
    		<li>f</li>
    	
    		<li>h</li>
    	
    		<li>{someName}</li>
    	
		</ul>

		-----
		<ul>
		
    		<li>a - b - </li>
    	
    		<li>array - [demo test] - </li>
    	
    		<li>c - d - </li>
    	
    		<li>e - f - </li>
    	
    		<li>g - h - </li>
    	
    		<li>struct - {someName} - </li>
    	
		</ul>
		-----

		</body>
		</html>
	